<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
        <mat-card>
            <mat-card-content>
                <h2>Lista de Cursos</h2>
                <mat-form-field class="w-full">
                    <mat-label>Filtro</mat-label>
                    <input matInput (keyup)="aplicarFiltros($event)" placeholder="ingrese curso" #input>
                </mat-form-field>
                <table mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                        <td mat-cell *matCellDef="let course"> {{course.id}} </td>
                    </ng-container>
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                        <td mat-cell *matCellDef="let course"> {{course.subject.nombre}} </td>
                    </ng-container>
                    <ng-container matColumnDef="descripcion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
                        <td mat-cell *matCellDef="let course"> {{course.subject.description}} </td>
                    </ng-container>
                    <ng-container matColumnDef="fechaInicio">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Inicio </th>
                        <td mat-cell *matCellDef="let course"> {{course.fecha_inicio | date: 'dd/MM/YYYY'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="fechaFin">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Fin </th>
                        <td mat-cell *matCellDef="let course"> {{course.fecha_fin | date: 'dd/MM/YYYY'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="ver_detalle">
                        <th mat-header-cell *matHeaderCellDef>Detalle</th>
                        <td mat-cell *matCellDef="let course">
                            <button mat-icon-button (click)="detailCourse(course.id)">
                                <mat-icon>visibility</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="eliminar">
                        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
                        <td mat-cell *matCellDef="let course">
                            <button mat-icon-button (click)="deleteCourse(course)">
                                <mat-icon>close</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="editar">
                        <th mat-header-cell *matHeaderCellDef>Editar</th>
                        <td mat-cell *matCellDef="let course">
                            <button mat-icon-button (click)="editCourse(course)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
                </mat-paginator>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<button (click)="createCourses()" class="btn-fixed" mat-fab color="warn">
    <mat-icon>add</mat-icon>
</button>