<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
        <mat-card>
            <mat-card-content>
                <h2>Perfil Alumno</h2>
                <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                    <div fxFlex="30%" fxFlex.sm="95%" fxFlex.xs="95%">
                        <div class="profile-card">
                            <img src="assets/img/user.png">
                            <h2 class="title">
                                dd
                            </h2>
                            <label>
                                vvv
                            </label>
                            <label>
                                fff
                            </label>
                        </div>
                    </div>
                    <div fxFlex></div>
                    <div fxFlex="65%" fxFlex.sm="95%" fxFlex.xs="950%">
                        <p>Use the form below to change your password.</p>
                        <div fxLayout="row">
                            <div fxFlex="40%" fxFlex.md="60%" fxFlex.sm="50%" fxFlex.xs="100%">
                                <mat-form-field class="full-width">
                                    <input matInput placeholder="Current Password" autocomplete="current-password">
                                    <mat-icon matSuffix>
                                        ddddd
                                    </mat-icon>
                                </mat-form-field>
                                <button mat-raised-button color="primary">Save</button>

                            </div>

                        </div>





                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>


</div>