.profile-card {
    text-align: center;
}

.password-rules .mat-divider {
    position: unset !important;
}

.container {
    padding-top: 20px;
}

.align-button {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}