@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-form-field-hint-wrapper,
.mat-mdc-form-field-error-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 5px !important;
}

.w-full {
    width: 100%;
}

.btn-fixed {
    position: fixed !important;
    bottom: 70px;
    right: 30px;
}

.container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mdc-fab {
    width: 70px !important;
    height: 70px !important;
}

.material-icons {
    font-size: 30px !important;
}

.mat-icon {
    height: 30px !important;
    width: 30px !important;
}