@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-form-field-hint-wrapper,
.mat-mdc-form-field-error-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 5px !important;
}

.w-full {
    width: 100%;
}

.btn-fixed {
    position: fixed !important;
    bottom: 70px;
    right: 30px;
}

.container {
    padding-top: 20px;
    margin-bottom: 10px;
    height: 93% !important;
}

.mdc-fab {
    width: 70px !important;
    height: 70px !important;
}

.material-icons {
    font-size: 30px !important;
}

.mat-icon {
    height: 30px !important;
    width: 30px !important;
}

span.mat-mdc-list-item-unscoped-content.mdc-list-item__primary-text {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.mat-body p,
.mat-body-2 p,
.mat-typography .mat-body p,
.mat-typography .mat-body-2 p,
.mat-typography p {
    margin: 0px 0px 5px 0px;
}

.mdc-list {
    margin: 0;
    padding: 60px 0 !important;
    list-style-type: none;
}

.mdc-list-item.mdc-list-item--with-one-line {
    height: 60px !important;
}