<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
        <mat-card>
            <mat-card-content>
                <h2>Lista de Clases</h2>
                <mat-form-field class="w-full">
                    <mat-label>Filtro</mat-label>
                    <input matInput (keyup)="aplicarFiltros($event)" placeholder="ingrese clase" #input>
                </mat-form-field>
                <table mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                        <td mat-cell *matCellDef="let student"> {{student.id}} </td>
                    </ng-container>
                    <ng-container matColumnDef="clase">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Clase </th>
                        <td mat-cell *matCellDef="let student"> {{student.clase}} </td>
                    </ng-container>
                    <ng-container matColumnDef="profesor">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Profesor </th>
                        <td mat-cell *matCellDef="let student"> {{student.profesor}} </td>
                    </ng-container>
                    <ng-container matColumnDef="alumno">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Alumno </th>
                        <td mat-cell *matCellDef="let student"> {{student.alumno}} </td>
                    </ng-container>
                    <ng-container matColumnDef="horario">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Horario </th>
                        <td mat-cell *matCellDef="let student"> {{student.horario}} </td>
                    </ng-container>
                    <ng-container matColumnDef="ver_detalle">
                        <th mat-header-cell *matHeaderCellDef>Detalle</th>
                        <td mat-cell *matCellDef="let student">
                            <button mat-icon-button (click)="detailClasse(student.id)">
                                <mat-icon>visibility</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="eliminar">
                        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
                        <td mat-cell *matCellDef="let student">
                            <button mat-icon-button (click)="deleteClasse(student)">
                                <mat-icon>close</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="editar">
                        <th mat-header-cell *matHeaderCellDef>Editar</th>
                        <td mat-cell *matCellDef="let student">
                            <button mat-icon-button (click)="editClasse(student)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
                </mat-paginator>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<button (click)="createClasses()" class="btn-fixed" mat-fab color="warn">
    <mat-icon>add</mat-icon>
</button>